.article {
    display: block;;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 15px;
    overflow: hidden;
    padding: 5px;
    color: rgba(0, 0, 0, 0.41);

    .index {
        float: left;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        min-width: 50px;
    }

    & > section > small {
        display: inline-block;
        font-size: 12px;
        line-height: 100%;
        padding-bottom: 15px;
    }

    img {
        float: left;
        width: 80px;
        height: 80px;
        margin: 0 15px;
    }

    .title {
        display: block;
        font-size: 18px;
        line-height: 100%;
    }

    .username {
        font-weight: 500;
    }

    section {
        margin-top: 10px;
    }
}