.article {
    display: block;;
    border: 1px solid rgba(0,0,0,0.6);
    margin-bottom: 15px;
    
    p {
        font-size: 14px;
        line-height: 100%;
    }

    .index {
        float: left;
        font-size: 20px;
        min-width: 50px;
    }

    img {
        float: left;
        width: 100px;
        height: 100px;
        margin: 0 15px;
    }

    .votes {
        float: left;
        display: flex;
                
        i {
            text-align: center;
        }
    }
}